node_modules
.next
.git
.vscode
dist
.env
.idea
*.swp
*.swo
.DS_Store
*.swp
*.swo
.DS_Store

# Backend specific files to ignore in frontend
**/*.controller.ts
**/*.module.ts
**/*.service.ts
**/*.entity.ts
**/*.dto.ts
**/src/
